<div>

  <h3>Formulario de registro</h3>

  <form action="/auth/signup" method="post">

    <div class="mb-3">
    <label for="name" class="form-label">Nombre</label>
    <input type="text" class="form-control" name="name" value="{{previousName}}" />
    </div>


    <br />

    <div class="mb-3">
    <label for="surname" class="form-label">Apellido</label>
    <input type="text" class="form-control" name="surname" value="{{previousSurname}}" />
    </div>

    <br />
    
    <div class="mb-3">
    <label for="email" class="form-label">Correo electrónico</label>
    <input type="text"  class="form-control" name="email" value="{{previousEmail}}" />
    </div>
 
    <br />

    <div class="mb-3">
    <label for="password" class="form-label">Contraseña</label>
    <input type="password" class="form-control" name="password" />
    </div>

    <br />

    <div class="mb-3">
    <label for="confirmPassword" class="form-label">Confirmar contraseña</label>
    <input type="password" class="form-control" name="confirmPassword" />
    </div>

    <br />

    <div class="d-grid gap-2" >
    <button class="btn btn-primary" type="button">Registro</button>
    </div>

    <br />
    
    <a href="/auth/login">¿Ya eres usuario? Inicia sesión</a>

    {{#if this.errorMessage}}
      <p>{{this.errorMessage}}</p>
    {{/if}}

  </form>

</div>