<div>

<h2>Nuestras clases</h2>

<h3>Zumba</h3>
<img src="" alt="class-image">
<p>Da rieda suelta a tu ritmo con
movimientos de salsa, merengue, mambo, samba, soca, 
cumbia y artes marciales</p>
<h4>Clase impartida por:</h4>
<img src="" alt="profile-pic">

<h3>Yoga</h3>
<img src="" alt="class-image">
<p>Incrementa tu fuerza, gana flexibilidad,  
reduce el estrés y la ansiedad, alivia dolores musculares, 
fortalece el sistema inmunológico…</p>
<h4>Clase impartida por:</h4>
<img src="" alt="profile-pic">

<h3>Spinning</h3>
<img src="" alt="class-image">
<p>Si estás buscando perder peso o tonificar tus músculos, 
el spinning es una excelente opción para ti. 
Además, te ayudará a mejorar tu fuerza y resistencia.</p>
<h4>Clase impartida por:</h4>
<img src="" alt="profile-pic">


<h3>Boxeo</h3>
<img src="" alt="class-image">
<p>En las clases de boxeo trabajas coordinación, 
resistencia, pierdes peso, defines y tonificas.</p>
<h4>Clase impartida por:</h4>
<img src="" alt="profile-pic">

<h3>Espacio de máquinas</h3>
<img src="" alt="class-image">
<p>La zona de máquinas suele está compuesta por más de  
treinta máquinas diferentes, una zona de estiramientos y otra
de ejercicio multifuncional donde podrás trabajar 
todos los grupos musculares.</p>
<h4>Clase impartida por:</h4>
<img src="" alt="profile-pic">

<h3>Body combact</h3>
<img src="" alt="class-image">
<p>Trabaja todos los grupos musculares de
tu cuerpo sin necesidad de material, únicamente 
con nuestro peso corporal y mediante una coreografía.</p>
<h4>Clase impartida por:</h4>
<img src="" alt="profile-pic">

<h3>Pilates</h3>
<img src="" alt="class-image">
<p>Hacer pilates te permitirá ejercitar y tonificar 
los músculos, mejorar tu flexibilidad, equilibrio y 
coordinación.</p>
<h4>Clase impartida por:</h4>
<img src="" alt="profile-pic">

<h3>Entrenamiento funcional</h3>
<img src="" alt="class-image">
<p>El entrenamiento funcional se caracteriza por 
adaptarse a los movimientos naturales del cuerpo humano. 
De este modo, se logra un trabajo muy completo ya que se 
involucra la actividad de todos los músculos y las 
articulaciones.</p>
<h4>Clase impartida por:</h4>
<img src="" alt="profile-pic">


</div>