<div>

    <h2>Nuestras clases</h2>


    <div class="card mb-3" style=" margin: 25px;" id="#boxClass">
        <img src="https://res.cloudinary.com/dj9npvnlg/image/upload/v1692284823/fotos-de-clases/EC561BE7-FF72-43E4-ACC9-11E856F4FA96_elprwq.jpg"
            class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Zumba</h5>
            <p class="card-text">Da rieda suelta a tu ritmo con
                movimientos de salsa, merengue, mambo, samba, soca,
                cumbia y artes marciales</p>
            <h3>Clase impartida por:</h3>
            <div class="d-flex justify-content-around">
                <div class="card" style="width: 18rem; ">
                    <img src="https://res.cloudinary.com/dj9npvnlg/image/upload/v1692286603/fotos-de-clases/E279DFBB-5B2C-4420-99AD-1378DA284804_uwtxoa.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Biel</p>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="https://res.cloudinary.com/dj9npvnlg/image/upload/v1692286601/fotos-de-clases/418505A6-48A0-452F-B46A-A08124BC64C8_ugcqom.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Anabel</p>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>




<div class="card mb-3" style=" margin: 25px;" id="#boxClass">
    <img src="https://res.cloudinary.com/dj9npvnlg/image/upload/v1692277058/fotos-de-clases/0CA228B5-904E-4AEE-981D-033F20238CE3_bg5llf.jpg"
        class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Yoga</h5>
        <p class="card-text">Incrementa tu fuerza, gana flexibilidad,
            reduce el estrés y la ansiedad, alivia dolores musculares,
            fortalece el sistema inmunológico…</p>
        <h3>Clase impartida por:</h3>
        <div class="d-flex justify-content-around">
            <div class="card" style="width: 18rem; ">
                <img src="https://res.cloudinary.com/dj9npvnlg/image/upload/v1692286596/fotos-de-clases/C2BC69D6-A32B-4D35-B12B-EAB956197754_eavl4m.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">María</p>
                </div>
            </div>

        </div>

    </div>

</div>
</div>


<div class="card mb-3" style=" margin: 25px;" id="#boxClass">
    <img src="https://res.cloudinary.com/dj9npvnlg/image/upload/v1692277059/fotos-de-clases/53786B16-D6C5-4A4B-8591-6F926DDC6BAD_vuo0fo.jpg"
        class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Spinning</h5>
        <p class="card-text">Si estás buscando perder peso o tonificar tus músculos,
            el spinning es una excelente opción para ti.
            Además, te ayudará a mejorar tu fuerza y resistencia.</p>
        <h3>Clase impartida por:</h3>
        <div class="d-flex justify-content-around">
            <div class="card" style="width: 18rem; ">
                <img src="https://res.cloudinary.com/dj9npvnlg/image/upload/v1692286593/fotos-de-clases/2D38F005-F6CF-4927-BD3C-17611C5EF742_yunjop.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Antonio</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="https://res.cloudinary.com/dj9npvnlg/image/upload/v1692286601/fotos-de-clases/418505A6-48A0-452F-B46A-A08124BC64C8_ugcqom.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Anabel</p>
                </div>
            </div>
        </div>

    </div>

</div>
</div>



<div class="card mb-3" style=" margin: 25px;" id="#boxClass">
    <img src="https://res.cloudinary.com/dj9npvnlg/image/upload/v1692277058/fotos-de-clases/A499F8E0-EF67-4183-8EEA-A8C2EEAD7D60_q1uaxb.jpg"
        class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Boxeo</h5>
        <p class="card-text">En las clases de boxeo trabajas coordinación,
            resistencia, pierdes peso, defines y tonificas.</p>
        <h3>Clase impartida por:</h3>
        <div class="d-flex justify-content-around">
            <div class="card" style="width: 18rem; ">
                <img src="https://res.cloudinary.com/dj9npvnlg/image/upload/v1692286599/fotos-de-clases/CEDAB1A0-AFC2-4EF9-AB1B-FFB6E674ED42_j4lei6.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">José Alberto</p>
                </div>
            </div>

        </div>

    </div>

</div>
</div>


<div class="card mb-3" style=" margin: 25px;" id="#boxClass">
    <img src="https://res.cloudinary.com/dj9npvnlg/image/upload/v1692277058/fotos-de-clases/3001EDFE-EB41-4B35-88E8-756865053211_lairdz.jpg"
        class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Body combact</h5>
        <p class="card-text">Trabaja todos los grupos musculares de
            tu cuerpo sin necesidad de material, únicamente
            con nuestro peso corporal y mediante una coreografía.</p>
        <h3>Clase impartida por:</h3>
        <div class="d-flex justify-content-around">
            <div class="card" style="width: 18rem; ">
                <img src="https://res.cloudinary.com/dj9npvnlg/image/upload/v1692286601/fotos-de-clases/418505A6-48A0-452F-B46A-A08124BC64C8_ugcqom.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Anabel</p>
                </div>
            </div>

        </div>

    </div>

</div>
</div>




<div class="card mb-3" style=" margin: 25px;" id="#boxClass">
    <img src="https://res.cloudinary.com/dj9npvnlg/image/upload/v1692277058/fotos-de-clases/83F174FD-1DC0-44F1-B6D0-394AB94F08DC_fpwiui.jpg"
        class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Pilates</h5>
        <p class="card-text">Si estás buscando perder peso o tonificar tus músculos,
            el spinning es una excelente opción para ti.
            Además, te ayudará a mejorar tu fuerza y resistencia.</p>
        <h3>Clase impartida por:</h3>
        <div class="d-flex justify-content-around">
            <div class="card" style="width: 18rem; ">
                <img src="https://res.cloudinary.com/dj9npvnlg/image/upload/v1692286593/fotos-de-clases/2D38F005-F6CF-4927-BD3C-17611C5EF742_yunjop.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Antonio</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="https://res.cloudinary.com/dj9npvnlg/image/upload/v1692286596/fotos-de-clases/C2BC69D6-A32B-4D35-B12B-EAB956197754_eavl4m.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">María</p>
                </div>
            </div>
        </div>

    </div>

</div>
</div>


<div class="card mb-3" style=" margin: 25px;" id="#boxClass"> 
    <img src="https://res.cloudinary.com/dj9npvnlg/image/upload/v1692277058/fotos-de-clases/1C50A44F-BDE7-4B54-BD0F-76DC2F8A21B3_zfl5ar.jpg"
        class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Entrenamiento funcional</h5>
        <p class="card-text">El entrenamiento funcional se caracteriza por
            adaptarse a los movimientos naturales del cuerpo humano.
            De este modo, se logra un trabajo muy completo ya que se
            involucra la actividad de todos los músculos y las
            articulaciones.</p>
        <h3>Clase impartida por:</h3>
        <div class="d-flex justify-content-around">
            <div class="card" style="width: 18rem; ">
                <img src="https://res.cloudinary.com/dj9npvnlg/image/upload/v1692286603/fotos-de-clases/E279DFBB-5B2C-4420-99AD-1378DA284804_uwtxoa.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Biel</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="https://res.cloudinary.com/dj9npvnlg/image/upload/v1692286599/fotos-de-clases/CEDAB1A0-AFC2-4EF9-AB1B-FFB6E674ED42_j4lei6.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Jose Antonio</p>
                </div>
            </div>
        </div>

    </div>

</div>
</div>





</div>