<div>

<h2>Nuestras clases</h2>

<h4>Zumba</h4>
<img src="https://res.cloudinary.com/dj9npvnlg/image/upload/v1692175406/fotos-de-clases/zumba_qe1kc9.jpg" alt="class-image" width="450px">
<p>Da rieda suelta a tu ritmo con
movimientos de salsa, merengue, mambo, samba, soca, 
cumbia y artes marciales</p>
<h3>Clase impartida por:</h3>
<p>Biel</p>
<img src="https://res.cloudinary.com/dj9npvnlg/image/upload/v1692201473/fotos-de-perfiles/n1g4eewfgilodf5jhmiz.jpg" alt="profile-pic" width="200px">
<p>Anabel</p>
<img src="https://res.cloudinary.com/dj9npvnlg/image/upload/v1692201537/fotos-de-perfiles/ylp52avrr2vbyrx97lwo.jpg" alt="profile-pic" width="200">

<h4>Yoga</h4>
<img src="https://res.cloudinary.com/dj9npvnlg/image/upload/v1692175413/fotos-de-clases/anupam-mahapatra-Vz0RbclzG_w-unsplash_lmi2r2.jpg" alt="class-image" width="450px">
<p>Incrementa tu fuerza, gana flexibilidad,  
reduce el estrés y la ansiedad, alivia dolores musculares, 
fortalece el sistema inmunológico…</p>
<h3>Clase impartida por:</h3>
<p>María</p>
<img src="https://res.cloudinary.com/dj9npvnlg/image/upload/v1692201571/fotos-de-perfiles/i3vi7izc0vsutrduajjx.jpg" alt="profile-pic" width="200">

<h4>Spinning</h4>
<img src="https://res.cloudinary.com/dj9npvnlg/image/upload/v1692175408/fotos-de-clases/spinning_l4c1ay.jpg" alt="class-image" width="450px">
<p>Si estás buscando perder peso o tonificar tus músculos, 
el spinning es una excelente opción para ti. 
Además, te ayudará a mejorar tu fuerza y resistencia.</p>
<h3>Clase impartida por:</h3>
<p>Antonio</p>
<img src="https://res.cloudinary.com/dj9npvnlg/image/upload/v1692201654/fotos-de-perfiles/cijr4qjggndy4bilmppa.jpg" alt="profile-pic" width="200"> 
<p>Anabel</p>
<img src="https://res.cloudinary.com/dj9npvnlg/image/upload/v1692201537/fotos-de-perfiles/ylp52avrr2vbyrx97lwo.jpg" alt="profile-pic" width="200">

<h4>Boxeo</h4>
<img src="https://res.cloudinary.com/dj9npvnlg/image/upload/v1692175416/fotos-de-clases/boxeo_boa6qa.jpg" alt="class-image" width="450px">
<p>En las clases de boxeo trabajas coordinación, 
resistencia, pierdes peso, defines y tonificas.</p>
<h3>Clase impartida por:</h3>
<p>José Alberto</p>
<img src="https://res.cloudinary.com/dj9npvnlg/image/upload/v1692201603/fotos-de-perfiles/xe1rxspaoboikzdf4dus.jpg" alt="profile-pic" width="200">

<h4>Body combact</h4>
<img src="https://res.cloudinary.com/dj9npvnlg/image/upload/v1692175399/fotos-de-clases/body_combat_wxu9k6.jpg" alt="class-image" width="450px">
<p>Trabaja todos los grupos musculares de
tu cuerpo sin necesidad de material, únicamente 
con nuestro peso corporal y mediante una coreografía.</p>
<h3>Clase impartida por:</h3>
<p>Anabel</p>
<img src="https://res.cloudinary.com/dj9npvnlg/image/upload/v1692201537/fotos-de-perfiles/ylp52avrr2vbyrx97lwo.jpg" alt="profile-pic" width="200">

<h4>Pilates</h4>
<img src="https://res.cloudinary.com/dj9npvnlg/image/upload/v1692175407/fotos-de-clases/pilates_st4bvv.jpg" alt="class-image" width="450px">
<p>Hacer pilates te permitirá ejercitar y tonificar 
los músculos, mejorar tu flexibilidad, equilibrio y 
coordinación.</p>
<h3>Clase impartida por:</h>
<p>María</p>
<img src="https://res.cloudinary.com/dj9npvnlg/image/upload/v1692201571/fotos-de-perfiles/i3vi7izc0vsutrduajjx.jpg" alt="profile-pic" width="200">
<p>Antonio</p>
<img src="https://res.cloudinary.com/dj9npvnlg/image/upload/v1692201654/fotos-de-perfiles/cijr4qjggndy4bilmppa.jpg" alt="profile-pic" width="200">

<h4>Entrenamiento funcional</h4>
<img src="https://res.cloudinary.com/dj9npvnlg/image/upload/v1692175405/fotos-de-clases/entrenamiento-funcional_muevjv.jpg" alt="class-image" width="450px">
<p>El entrenamiento funcional se caracteriza por 
adaptarse a los movimientos naturales del cuerpo humano. 
De este modo, se logra un trabajo muy completo ya que se 
involucra la actividad de todos los músculos y las 
articulaciones.</p>
<h3>Clase impartida por:</h3>
<p>Biel</p>
<img src="https://res.cloudinary.com/dj9npvnlg/image/upload/v1692201473/fotos-de-perfiles/n1g4eewfgilodf5jhmiz.jpg" alt="profile-pic" width="200">
<p>Jose Antonio</p>
<img src="https://res.cloudinary.com/dj9npvnlg/image/upload/v1692200104/fotos-de-perfiles/i1kpeqtnhkznl7dfksgk.jpg" alt="profile-pic" width="200">

</div>