<div>

<h2>Hola, {{user.name}} ¡bienvenido!</h2>

{{#if suscriptionTrue}}
<p>{{suscriptionTrue}}</p>
{{/if}}
{{#if suscriptionFalse}}
<p>{{suscriptionFalse}}</p>

<button>Suscríbete</button>
{{/if}}






</div>