<div>

<h2>Nuestros profesores</h2>

<h3>Biel Pérez</h3>
<img src="https://res.cloudinary.com/dj9npvnlg/image/upload/v1692201473/fotos-de-perfiles/n1g4eewfgilodf5jhmiz.jpg" class="img-fluid" alt="profile-pic" width="500px">
<p>Apasionado entrenador de fitness, Biel mezcla entrenamiento funcional con motivación. 
Su dedicación a la resistencia y técnica lo hace ideal para quienes buscan superar límites.</p>

<h3>Anabel Rodríguez</h3>
<img src="https://res.cloudinary.com/dj9npvnlg/image/upload/v1692201537/fotos-de-perfiles/ylp52avrr2vbyrx97lwo.jpg" class="img-fluid" alt="profile-pic" width="500px">
<p> Instructora con energía contagiosa, Anabel destaca en clases grupales. Sus sesiones de baile y 
cardio son una experiencia divertida y rítmica para todos.</p>

<h3>María Santana</h3>
<img src="https://res.cloudinary.com/dj9npvnlg/image/upload/v1692201571/fotos-de-perfiles/i3vi7izc0vsutrduajjx.jpg" class="img-fluid" alt="profile-pic" width="500px">
<p>Experta en yoga y mindfulness, María guía hacia la armonía mental y física. 
Su estilo sereno y enfoque en relajación crean un oasis de bienestar.</p>

<h3>José Alberto López</h3>
<img src="https://res.cloudinary.com/dj9npvnlg/image/upload/v1692200104/fotos-de-perfiles/i1kpeqtnhkznl7dfksgk.jpg" class="img-fluid" alt="profile-pic" width="500px">
<p>Apasionado del levantamiento de pesas y musculación, José Alberto es gurú del gimnasio. 
Inspirador en entrenamiento de fuerza, impulsa a atletas a nuevos niveles.</p>

<h3>Antonio Machado</h3>
<img src="https://res.cloudinary.com/dj9npvnlg/image/upload/v1692201654/fotos-de-perfiles/cijr4qjggndy4bilmppa.jpg" class="img-fluid" alt="profile-pic" width="500px">
<p>Director del gimnasio, comprometido con salud y bienestar. Su liderazgo convierte este 
lugar en espacio donde se alcanzan objetivos fitness bajo guía de apasionados profesionales.</p>

</div>