<div>
    <h2>Nuestros profesores</h2>
    <div class="d-flex flex-wrap">
        

        <div class="card" style="width: 18rem; margin: 10px;">
            <img src="https://res.cloudinary.com/dj9npvnlg/image/upload/v1692286603/fotos-de-clases/E279DFBB-5B2C-4420-99AD-1378DA284804_uwtxoa.jpg"
                class="card-img-top" alt="biel-img">
            <div class="card-body">
                <h5 class="card-title">Biel Pérez</h5>
                <p class="card-text">Su dedicación a la resistencia y técnica lo hace ideal para quienes buscan superar
                    límites.</p>
                </p>

            </div>
        </div>

        <div class="card" style="width: 18rem; margin: 10px;">
            <img src="https://res.cloudinary.com/dj9npvnlg/image/upload/v1692286601/fotos-de-clases/418505A6-48A0-452F-B46A-A08124BC64C8_ugcqom.jpg"
                class="card-img-top" alt="Anabel-img">
            <div class="card-body">
                <h5 class="card-title">Anabel Rodríguez</h5>
                <p class="card-text">Instructora con energía contagiosa, Anabel destaca en clases grupales. Sus sesiones
                    de baile y
                    cardio son una experiencia divertida y rítmica para todos.</p>
                </p>

            </div>
        </div>

        <div class="card" style="width: 18rem; margin: 10px;">
            <img src="https://res.cloudinary.com/dj9npvnlg/image/upload/v1692286596/fotos-de-clases/C2BC69D6-A32B-4D35-B12B-EAB956197754_eavl4m.jpg"
                class="card-img-top" alt="Anabel-img">
            <div class="card-body">
                <h5 class="card-title">María Santana</h5>
                <p class="card-text">Experta en yoga y mindfulness, María guía hacia la armonía mental y física.
                    Su estilo sereno y enfoque en relajación crean un oasis de bienestar.</p>
                </p>

            </div>
        </div>


        <div class="card" style="width: 18rem; margin: 10px;">
            <img src="https://res.cloudinary.com/dj9npvnlg/image/upload/v1692286599/fotos-de-clases/CEDAB1A0-AFC2-4EF9-AB1B-FFB6E674ED42_j4lei6.jpg"
                class="card-img-top" alt="Anabel-img">
            <div class="card-body">
                <h5 class="card-title">José Alberto López</h5>
                <p class="card-text">Apasionado del levantamiento de pesas y musculación, José Alberto es gurú del
                    gimnasio.
                    Inspirador en entrenamiento de fuerza, impulsa a atletas a nuevos niveles.</p>
                </p>

            </div>
        </div>


        <div class="card" style="width: 18rem; margin: 10px;">
            <img src="https://res.cloudinary.com/dj9npvnlg/image/upload/v1692286593/fotos-de-clases/2D38F005-F6CF-4927-BD3C-17611C5EF742_yunjop.jpg"
                class="card-img-top" alt="Anabel-img">
            <div class="card-body">
                <h5 class="card-title">Antonio Machado</h5>
                <p class="card-text">Director del gimnasio, comprometido con salud y bienestar. Su liderazgo convierte
                    este
                    lugar en espacio donde se alcanzan objetivos fitness bajo guía de apasionados profesionales.</p>
                </p>

            </div>
        </div>

    </div>

</div>