<div>

<h2>Hola, {{teacher.name}} ¡bienvenid@!</h2>

<a href="/teachers/edit-profile"><button>Editar perfil</button></a>

<h3>Esta semana tienes estas clases</h3>
{{#each classInfo}}

<li>{{className}}</li>
<li>{{weekDay}}</li>

{{/each}}




</div>