<div>

<div>
<h2>Hola, {{teacher.name}} ¡bienvenid@!</h2>
<img src="{{teacher.profilePic}}" alt="image-perfil" width="100px">

<a href="/teachers/edit-profile"><button>Editar perfil</button></a>

</div>

<h3>Esta semana tienes estas clases</h3>
{{#each classInfo}}

<li>{{className}}</li>
<li>{{weekDay}}</li>

{{/each}}




</div>