<div class="d-flex flex-column mb-3">

  <div
    id="carouselExampleAutoplaying"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active" id="box">
        <img
          src="https://res.cloudinary.com/dj9npvnlg/image/upload/v1692277059/fotos-de-clases/53786B16-D6C5-4A4B-8591-6F926DDC6BAD_vuo0fo.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item" id="box">
        <img
          src="https://res.cloudinary.com/dj9npvnlg/image/upload/v1692277058/fotos-de-clases/1C50A44F-BDE7-4B54-BD0F-76DC2F8A21B3_zfl5ar.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item" id="box">
        <img
          src="https://res.cloudinary.com/dj9npvnlg/image/upload/v1692277058/fotos-de-clases/A499F8E0-EF67-4183-8EEA-A8C2EEAD7D60_q1uaxb.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item" id="box">
        <img
          src="https://res.cloudinary.com/dj9npvnlg/image/upload/v1692277058/fotos-de-clases/83F174FD-1DC0-44F1-B6D0-394AB94F08DC_fpwiui.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item" id="box">
        <img
          src="https://res.cloudinary.com/dj9npvnlg/image/upload/v1692277058/fotos-de-clases/0CA228B5-904E-4AEE-981D-033F20238CE3_bg5llf.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item" id="box">
        <img
          src="https://res.cloudinary.com/dj9npvnlg/image/upload/v1692277058/fotos-de-clases/3001EDFE-EB41-4B35-88E8-756865053211_lairdz.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item" id="box">
        <img
          src="https://res.cloudinary.com/dj9npvnlg/image/upload/v1692175406/fotos-de-clases/zumba_qe1kc9.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


<div>
  <h1>¡Apuntate ahora!</h1>
</div>



  <div
    id="carouselExampleAutoplaying"
    class="carousel slide"
    data-bs-ride="carousel"
    class="d-flex p-2"
    
  >
    <div class="carousel-inner">
      <div class="carousel-item active" id="box">
        <img
          src="https://res.cloudinary.com/dj9npvnlg/image/upload/v1692268868/fotos-de-perfiles/E576E658-663E-4968-8DAB-F67E584BD90E_a4uuec.jpg"
          class="d-block w-100"
          alt="..."
        />
        <div
          class="carousel-caption d-none d-md-block"
          class="d-flex justify-content-center"
          class="d-flex align-items-center"
        >
          <h3 class="shadowText" style="margin-bottom: 150px;">¡No pases por
            alto los comentarios de nuestros clientes!
          </h3>

        </div>
      </div>

      {{#each coments}}

        <div class="carousel-item" class="d-flex p-2" id="box">
          <img
            src="https://res.cloudinary.com/dj9npvnlg/image/upload/v1692268868/fotos-de-perfiles/E576E658-663E-4968-8DAB-F67E584BD90E_a4uuec.jpg"
            class="d-block w-100"
            alt="..."
          />
          <div
            class="carousel-caption d-none d-md-block"
            class="d-flex justify-content-center"
            class="d-flex align-items-center"
          >
            <h4 style="margin-bottom: 20px;">{{client}}</h4>
            <h3 class="shadowText" style="margin-bottom: 165px;">{{note}}</h3>
          </div>
        </div>
      {{/each}}

    </div>
  </div>
</div>