<div>
  <h1>El Gym de la patata caliente</h1>

  <div
    id="carouselExampleAutoplaying"
    class="carousel slide"
    data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="https://res.cloudinary.com/dj9npvnlg/image/upload/v1692175406/fotos-de-clases/zumba_qe1kc9.jpg"
          class="d-block w-100"
          alt="class-image"
        />
        <div class="carousel-caption d-none d-md-block">
          <h1>YOGA</h1>
          <p>Some representative placeholder content for the second slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="https://res.cloudinary.com/dj9npvnlg/image/upload/v1692175413/fotos-de-clases/anupam-mahapatra-Vz0RbclzG_w-unsplash_lmi2r2.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="https://res.cloudinary.com/dj9npvnlg/image/upload/v1692175408/fotos-de-clases/spinning_l4c1ay.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="https://res.cloudinary.com/dj9npvnlg/image/upload/v1692175416/fotos-de-clases/boxeo_boa6qa.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="https://res.cloudinary.com/dj9npvnlg/image/upload/v1692175399/fotos-de-clases/body_combat_wxu9k6.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="https://res.cloudinary.com/dj9npvnlg/image/upload/v1692175408/fotos-de-clases/spinning_l4c1ay.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="https://res.cloudinary.com/dj9npvnlg/image/upload/v1692175405/fotos-de-clases/entrenamiento-funcional_muevjv.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


 <div
    id="carouselExampleAutoplaying"
    class="carousel slide"
    data-bs-ride="carousel">
    <div class="carousel-inner">
     {{#each coments}}


       <div class="carousel-item">
        <img
          src="https://res.cloudinary.com/dj9npvnlg/image/upload/v1692175406/fotos-de-clases/zumba_qe1kc9.jpg"
          class="d-block w-100"
          alt="class-image"
        />
        <div class="carousel-caption d-none d-md-block">
          <h3>{{client}}</h3>
          <p>{{note}}</p>
        </div>

     {{/each}}

      </div>
     <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
     </button>
     <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
      </button>
    </div>

</div>



