body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}


#comentCarr {
  background: radial-gradient(#f0aec2 30px, #816de6 30%, #695fed 50%);
  width: 800px;
  height: 500px;
}

.shadowText {

  text-shadow: black 0.1em 0.1em 0.2em
}
