body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}



#comentarios {

  margin-bottom: 0px;
}

#box {
  box-shadow: 5px 5px 15px gray;
  margin-bottom: 100px;
  border-radius: 5px;
}

#box img {

  border-radius: 5px;
}

.comentCarr {
  background: linear-gradient( #816de6 30%, #695fed 50%);
  /* max-width: 800px;
  max-height: 500px; */
}

.shadowText {
  text-shadow: black 0.1em 0.1em 0.2em;
}


#buttonCalendar {

  width: 190px;
  height: 150px;
}

td {
  text-align: center;

}

footer {
  box-shadow: 5px 5px 15px gray;
  border-radius: 5px
}